@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    background-color: rgb(18,18,18);
}

#header {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 98%;
    background-color: rgb(187,134,252);
    border-radius: 10px;
}

#black-rhino-icon {
    position: relative;
    top: 12px;
    left: 30px;
    height: 40px;
    width: 40px;
    background-color: rgb(235,235,235, 0);
    border-radius: 10px;
}

.center {
    top: 40px;
    left: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 35px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
  
.center:before, .center:after, .center div {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

.center:active:before {
    transform: translateY(12px) rotate(135deg);
}

.center:active:after {
    transform: translateY(-12px) rotate(-135deg);
}

.center:active div {
    transform: scale(0);
}
  
  